process {
    withName: 'NANOQ' {
        publishDir = [
            [
                path: { "${params.outdir}/NANOQ" },
                mode: 'copy',
                saveAs: { filename -> filename == 'versions.yml' ? null : filename }
            ]
        ]
    }

    withName: 'FLYE' {
        publishDir = [
            [
                path: { "${params.outdir}/FLYE" },
                mode: 'copy',
                saveAs: { filename -> filename == 'versions.yml' ? null : filename }
            ]
        ]
    }

    withName: 'MEDAKA' {
        publishDir = [
            [
                path: { "${params.outdir}/MEDAKA" },
                mode: 'copy',
                saveAs: { filename -> filename == 'versions.yml' ? null : filename }
            ]
        ]
    }

    withName: 'SISTR' {
        publishDir = [
            [
                path: { "${params.outdir}/SISTR" },
                mode: 'copy',
                saveAs: { filename -> filename == 'versions.yml' ? null : filename }
            ]
        ]
    }
}